section.journal-page-content :is(h1, h2, h3, h4, h5, h6) {
    overflow:hidden;
}

article.journal-entry-page header.journal-page-header {
    overflow:hidden;
}

p.main-article {
    margin: 16px;
    font-style: italic;
}